
<div class="row">
    <div class="col-md-6">
        <a routerLink="/" class="btn btn-link"> <i class="fa fa-arrow-circle-o-left"></i> Back To Dashboard </a>
    </div>
    <div class="col-md-6">
        <div class="btn-group pull-right">
            <a routerLink="/client/edit/{{id}}"  class="btn btn-dark">Edit Client</a>
            <button (click)="deleteClient()" [disabled]="!isAdmin" data-toggle="tooltip" data-placement="right" title="Only Admin Can Delete" class="btn btn-danger">Delete Client</button>
        </div>
    </div>
</div>
      
<hr>

<div *ngIf="client" class="card">
    <h3 class="card-header">
        {{client.firstName}} {{client.lastName}}
    </h3>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5>
                    Balance Due: <span [class.text-danger]="client.balanceDue >0">{{client.balanceDue | currency:"USD":"symbol"}} </span> 
                     <!-- <a (click)="update()"><i class="fa fa-edit"></i> </a> 

                     <div class="input-group mt-3" style="width: 40%; padding:10x;" [hidden]="!showUpdate" >
                        <input type="number" class="form-control" min="0" [(ngModel)]="updateAmount" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-outline-primary" type="button">Update</button>
                        </div>
                    </div> -->
             
                </h5>
            </div>

            <div class="col-md-6 pull-right">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-primary " (click)="updateClientBalance('halfDay')">Half Day</button>
                    <button type="button" class="btn btn-outline-primary " (click)="updateClientBalance('fullDay')">Full Day</button>
                    <button type="button" class="btn btn-outline-primary " (click)="isOtherSelected = !isOtherSelected" >Other</button>
                    <button type="button" class="btn btn-primary" (click)="dailyNoteAdded = !dailyNoteAdded" [disabled]="client.balanceDue === 0" *ngIf="!client.dailyNotesAdded">Add Note</button>
                    <button type="button" class="btn btn-primary" (click)="dailyNoteAdded = !dailyNoteAdded" [disabled]="client.balanceDue === 0" *ngIf="client.dailyNotesAdded">See Notes</button>

                </div>
            </div>

            <div class="col-md-8">
            
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3" style="width: 80%; padding:10px" [hidden]="!isOtherSelected">
                    <input type="number" class="form-control" min="0" [(ngModel)]="otherPrice" placeholder="Add Amount" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button (click)="updateClientBalance('other')" class="btn btn-outline-primary" type="button">Add</button>
                    </div>
                </div>
            </div>

        </div>


    <hr>

    <div class="row mb-3 mt-2" *ngIf="dailyNoteAdded">
        <div class="col-md-12">
            <div class="input-group">
                <textarea class="form-control custom-control" rows="3" style="resize:none" [(ngModel)]="client.dailyNotes"></textarea>     
                <button class="btn btn-primary" (click)="onNoteAdd(client.dailyNotes)" [disabled]="client.dailyNotes.trim().length === 0">Add</button>
            </div>
        </div>
    </div>

    <div class="row">
         <div class="col-md-12">
             <h6><button class="btn btn-success" (click)="showPaymentForm = !showPaymentForm" [disabled]="client.balanceDue === 0">Make Payment</button></h6>

             <app-client-payment *ngIf="showPaymentForm" [parentData]="client"></app-client-payment>

        </div>
    </div>
   
  

    <hr>

    <ul class="list-group">
        <li class="list-group-item">Email: {{client.email}}</li>
        <li class="list-group-item">Phone: {{client.phone}}</li>
        <li class="list-group-item">
           Pet(s): <p style="text-align: left; display: inline;" *ngFor="let pet of client.pets"><a routerLink="/pet-profile/{{client.id}}/{{pet}}" style="color: inherit"> {{pet}} </a></p>
        </li>
    </ul>

    </div>

</div>

<br><br>

<div class="row">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Prices</li>
        <li class="list-group-item">Half Day - $15</li>
        <li class="list-group-item">Full Day - $30</li>
    </ul>
</div>