<div class="row">
    <div class="col-md-6">
        <a routerLink="/" class="btn btn-link"> <i class="fa fa-arrow-circle-o-left"></i> Back To Dashboard </a>
    </div>
</div>


<div class="row">
    <div class="col-md-12 d-flex justify-content-center align-items-center">
        <div class="card" style="width:400px" *ngIf="success" >
            <img class="card-img-top" alt="Card image" [src]="image">
            <div class="card-body">
              <h4 class="card-title">{{petName}}</h4>
              <a routerLink="/client/{{id}}" class="btn btn-primary">Owner Profile</a>
            </div>
        </div>
    </div>
</div>
